*.ipch
*.suo
*.db
*.pdb
*.exe
*.dll
*.ilk
*.exp
*.iobj
*.ipdb
*.obj
*.idb
*.log
*.tlog
*.recipe
*.lastbuildState
.vs/
.tmp/

**/bin/
**/obj/
**/Debug/
**/Release/
**/.bin/
**/Debug-x64/
**/Release-x64/
**/tmp_build/

packages/
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
# Add these lines to your .gitignore
Cache/
*.snapshot
assetdb.txt