*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
.vs
.tmp
*.tlog
*.obj
*.idb
*.log
*.exp
*.iobj
*.ipdb
//bin
Debug
Release
*.recipe
*.log
*.tlog
*.lastbuildState
Cache/
*.snapshot
assetdb.txt
Descriptor.txt
**/Debug-x64/   # Debug x64 specific
**/Release-x64/ # Release x64 specific
**/tmp_build/   # Temporary build output
packages/              # NuGet packages folder
*.nuget.props          # NuGet properties
*.nuget.targets        # NuGet targets
project.assets.json    # Project assets
project.nuget.cache    # NuGet cache
*.nuget.dgspec.json    # Dependency graph spec
**/.bin/        # Your custom .bin folder
