# Visual Studio files
*.ipch
*.suo
*.db
*.pdb
*.exe
*.ilk
*.exp
*.iobj
*.ipdb
*.recipe
*.log
*.tlog
*.lastbuildstate
*.obj
*.idb
.vs/
.tmp/

# Build directories
**/bin/
**/obj/
Debug/
Release/
**/Debug/
**/Release/
**/.bin/
**/tmp_build/

# NuGet
packages/
*.nuget.props
*.nuget.targets
project.assets.json
project.nuget.cache
*.nuget.dgspec.json

# User-specific files
*.user
*.userosscache
*.sln.docstates



# Temporary files
*.tmp
*.temp