################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/example.lion_project/Cache/Descriptors
/bin/example.lion_project/Cache/Resources
/bin/example.lion_project/Cache/Temp
/Build/xtexture_compiler.vs2022
dependencies

Build/xtexture_compiler.vs2022/*
Build/xtexture_compiler.vs2022/xtexture_compiler.sln
Build/xtexture_compiler.vs2022/xtexture_compiler.vcxproj
Build/xtexture_compiler.vs2022/xtexture_compiler.vcxproj.filters
